@media only screen and (max-width: 640px) {
    .main-nav {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 640px) {
    .main-logos {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 640px) {
    .sign-up {
        margin-right: 1px;
    }
}